# build output
dist/
.output/

# dependencies
node_modules/

# generated types
.astro/

# environment
.env
.env.production
.env.*.local

# logs
npm-debug.log*
*.log

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
